#footer {
	padding:4em 0;
	background:$dark-grey;
	color:$white;

	.contact-wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		h2 {
			color:$white;
			margin:0.5em 1em;
		}

		h3,h4 {
			margin:0.5em 1em;

			a {
				color:$teal;		
				text-decoration: none;
			}
		}
	}
}