#footer {
	padding:4em 0;
	background:$dark-grey;
	color:$white;

	.contact-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom:1em;

		h2 {
			color:$white;
			margin:0.5em 1em;
		}

		.contact-info {
			display: flex;
			flex-wrap:wrap;		
			justify-content: center;	

			h3,h4 {
				margin:0.5em 1em;

				a {
					color:$teal;		
					text-decoration: none;
				}
			}
		}
	}

	.disclaimer {
		color:#999999;
		text-align:center;
	}
}
