#header {
    background: url('img/cover.jpg') top center no-repeat;
    background-size: cover;
    position: relative;

    .cover {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 95vh;
        width: 100%;
        padding: 4em 0;
        display: flex;
        gap: 2em 4em;

        @media screen and (max-width: $mobile) {
            flex-direction: column-reverse;
            padding: 8em 0;
        }

        .coverContent {
            flex: 1 1 auto;
            width: 700px;

            @media only screen and (max-width: $mobile) {
                width: 100%;
            }

            h1 {
                @include caveat();
                font-size: 8em;
                color: $white;
                text-shadow: 1px 1px 3px rgba($black, 0.2);
                margin-bottom: 0;

                @media screen and (max-width: $mobile) {
                    font-size: 4em;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 80px;
                    border-bottom: 2px solid $white;
                    margin: 0.2em 0;
                }
            }

            h2 {
                @include lato_light();
                font-size: 3em;
                color: $white;
                text-shadow: 1px 1px 3px rgba($black, 0.2);
                margin-bottom: 0;
                line-height: 1.2em;

                @media screen and (max-width: 800px) {
                    font-size: 2em;
                }
            }
        }

        .imageWrap {
            flex: 1 1 auto;
            text-align: center;

            @media only screen and (max-width: $mobile) {
                max-width: 250px;
            }

            img {
                border-radius: 100%;
                border: 2px solid white;
                transform: scaleX(-1);
                max-width: 100%;
            }
        }
    }

    .next {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 2em;
        width: 40px;
        height: 40px;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        transform: rotate(45deg);
        cursor: pointer;

        @media screen and (max-width: 800px) {
            width: 30px;
            height: 30px;
            left: calc(50% - 15px);

        }
    }
}