#header {
	background:url('img/cover.jpg') top center no-repeat;
	background-size:cover;
	position:relative;

	.cover {
		display: flex;
		align-items:center;
		justify-content: flex-start;
		height:850px;
		width:100%;

		h1 {
			@include raleway_thin();
			font-size:6em;
			color:$white;
			text-shadow: 1px 1px 3px rgba($black, 0.2);
			margin-bottom:0;

			&:after {
				content:'';
				display: block;
				width:250px;
				border-bottom:1px solid $white;
				margin:0.2em 0;
			}
		}

		h2 {
			@include lato_light();
			font-size:3em;
			color:$white;
			text-shadow: 1px 1px 3px rgba($black, 0.2);
			margin-bottom:0;
		}
	}

	.next {
		position:absolute;
		left:calc(50% - 40px);
		bottom:2em;
		width:40px;
		height:40px;
		border-right:1px solid $white;
		border-bottom:1px solid $white;
		transform:rotate(45deg);
		cursor:pointer;
	}
}