#main {
	> section {
		padding:4em 0;

		.wrapper {
			max-width: 1024px;
			transition: opacity 750ms ease-in;
			opacity:1;

			&.hidden {
				opacity: 0;
			}

			h2 {
				color:$red;
			}
		}

		&.about {
			background:url('img/about.jpg') top center no-repeat;
			background-size:cover;
			color:$white;

			.wrapper {
				max-width: 800px;

				h2 {
					color:$white;
					text-align:center;

					&:after {
						content:'';
						display: block;
						width:200px;
						border-bottom:1px solid $white;
						margin:1em auto;
					}
				}


				.about-wrap {
					display: flex;
					justify-content: center;
					
					.left {
						border-radius: 50em;
					}

					.right {
						padding-left:2em;
					}
				}
			}
		}


		&.skillset {
			h2 {
				&:after {
					content:'';
					display: block;
					width:200px;
					border-bottom:1px solid $grey;
					margin:1em 0;
				}
			}

			.skillset-wrap {
				display: flex;
				justify-content: space-between;

				.left {
					flex:1 1 auto;
					width:75%;
					padding-right:2em;
				}

				.right {
					flex:1 1 auto;
					width:200px;
				}
			}
		}

		&.experience {
			background:url('img/dark-bg.jpg') top center no-repeat;
			background-size:cover;
			color:$white;

			h2 {
				color:$white;
				&:after {
					content:'';
					display: block;
					width:200px;
					border-bottom:1px solid $teal;
					margin:1em 0;
				}
			}

			.experience-wrap {
				display: flex;
				justify-content: space-between;

				.left {
					flex:1 1 auto;
					width:200px;

					a {
						color:$teal;
						text-decoration: none;
					}
				}

				.right {
					flex:1 1 auto;
					width:75%;
					padding-left:2em;
				}
			}
		}

		&.education {
			background:url('img/education.jpg') top center no-repeat;
			background-size:cover;
			color:$white;
			text-align: center;

			.wrapper {
				max-width: 700px;

				h2 {
					color:$white;

					&:after {
						content:'';
						display: block;
						width:200px;
						border-bottom:1px solid $white;
						margin:1em auto;
					}
				}
			}
		}
	}
}